*{
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #D18DCC;
}

li{
    color: #171517;
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}

h1,h2{
    color: #9D5E99;
    text-align: center;
}

div{
    position: relative;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #9D5E99;
    background-color: white;
}
