*{
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #181E34;
}

li,h1,h2{
    color: #0C2427;
}

li{
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}

h1,h2{
    text-align: center;
}

div{
    position: relative;
    width: 80%;
    margin: 30px auto;
    background-color: #A5AED5;
    border: 1px solid #0C2427;
}

#menu{
    position: fixed;
    width: 9%;
    height: auto;
    float: left;
    padding-left: 0;
    min-width: 9%;
}
#menu li:hover{
    color: #fff;
}
#menu a{
    text-decoration: none;
}
